.wrapper {
  padding-top: 10px;
  width: "100%";
  height: wrap;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-addons {
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
}

.avatar {
  margin-bottom: 6px;
  width: 32px;
  min-height: 32px;
  max-height: 32px;
  border-radius: 4px;
  background-color: black;
}

.arrow-wrapper {
  border-radius: 32px;
}
.arrow {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
